@page "/"

<h1>Welcome to the Music Encyclopedia</h1>
<h2>Search for an artist in our database and we will tell you all you need to know about that artist!</h2>
<h2>You can also search for lyrics of a specific song from that artist!!! </h2>

