@page "/"

<h1>Welcome to the Music Encyclopedia</h1>
<br />
<br />
<h4>Search for an artist in our database and we will tell you all you need to know about that artist!</h4>
<h4>You can also search for lyrics of a specific song from that artist!!! </h4>

